{% extends "registration/base.html" %}
{% load i18n %}

{% block page_title %}{% trans 'Password change' %}{% endblock %}
{%block form_title%}{% trans 'Password change' %}{%endblock%}
{%block form_details%}{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}{%endblock%}

{% block form_content %}
<FORM name="passForm" method="POST" action="{%url auth_password_change%}">
    {% csrf_token %}
    <TABLE>
        {% if form.errors %}
        <TR>
            <TD colspan="2">
                <P class="error">{%trans "Please correct the error below"%}:</P>
            </TD>
        </TR>
        {% endif %}
        <TR>
            <TD>{{ form.old_password.label_tag }}</TD>
            <TD>{% if form.old_password.errors %}<P class="errorlist">{{ form.old_password.errors.as_text }}</P>{%endif%}
                {{ form.old_password }}
            </TD>
        </TR>
        <TR>
            <TD>{{ form.new_password1.label_tag }}</TD>
            <TD>{% if form.new_password1.errors %}<P class="errorlist">{{ form.new_password1.errors.as_text }}</P>{%endif%}
                {{ form.new_password1 }}
            </TD>
        </TR>
        <TR>
            <TD>{{ form.new_password2.label_tag }}</TD>
            <TD>{% if form.new_password2.errors %}<P class="errorlist">{{ form.new_password2.errors.as_text }}</P>{%endif%}
                {{ form.new_password2 }}
            </TD>
        </TR>
        <TR>
            <TD>&nbsp;</TD>
            <TD class="visible-content">
                <INPUT class="button" type="submit" value="{%trans "Confirm"%}"/>
            </TD>
        </TR>
    </TABLE>
</FORM>
{% endblock %}