{% extends "registration/base.html" %}
{% load i18n %}

{% block page_title %}{% trans 'Password reset' %}{% endblock %}

{%block form_title%}
    {% if validlink %}{% trans 'Enter new password' %}{%else%}{% trans 'Password reset failed' %}{%endif%}
{%endblock%}

{%block form_details%}
    {% if validlink %}
    {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
    {%else%}
    {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
    {%endif%}    
{%endblock%}

{% block form_content %}
    {% if validlink %}
    <FORM name="passForm" method="POST" action="">
        {% csrf_token %}
        <TABLE>
            {% if form.errors %}
            <TR>
                <TD colspan="2">
                    <P class="error">{%trans "Please correct the error below"%}:</P>
                </TD>
            </TR>
            {% endif %}
            <TR>
                <TD>{{ form.new_password1.label_tag }}</TD>
                <TD>{% if form.new_password1.errors %}<P class="errorlist">{{ form.new_password1.errors.as_text }}</P>{%endif%}
                    {{ form.new_password1 }}
                </TD>
            </TR>
            <TR>
                <TD>{{ form.new_password2.label_tag }}</TD>
                <TD>{% if form.new_password2.errors %}<P class="errorlist">{{ form.new_password2.errors.as_text }}</P>{%endif%}
                    {{ form.new_password2 }}
                </TD>
            </TR>
            <TR>
                <TD>&nbsp;</TD>
                <TD class="visible-content">
                    <INPUT class="button" type="submit" value="{% trans 'Change my password' %}"/>
                </TD>
            </TR>
        </TABLE>
    </FORM>
    {% endif %}
{% endblock %}