{% extends "registration/base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Password reset" %}{% endblock %}
{%block form_title%}{% trans "Password reset" %}{%endblock%}
{%block form_details%}{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}{%endblock%}

{% block form_content %}

<FORM name="passForm" method="POST" action="{%url auth_password_reset%}">
    {% csrf_token %}
    <TABLE>
        {% if form.errors %}
        <TR>
            <TD colspan="2">
                <P class="error">{%trans "Please correct the error below"%}:</P>
            </TD>
        </TR>
        {% endif %}
        <TR>
            <TD>{{ form.email.label_tag }}</TD>
            <TD>{% if form.email.errors %}<P class="errorlist">{{ form.email.errors.as_text }}</P>{%endif%}
                {{ form.email }}
            </TD>
        </TR>
        <TR>
            <TD>&nbsp;</TD>
            <TD class="visible-content">
                <INPUT class="button" type="submit" value="{% trans 'Reset my password' %}"/>
            </TD>
        </TR>
    </TABLE>
</FORM>

{% endblock %}
