{%load i18n%}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML itemscope itemtype="http://schema.org/Blog">
    <HEAD>
        <META http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <META property="og:title" content="{%if fb_title%}{{fb_title}}. {%endif%}{%trans "Yoya.es - The best images from the Internet"%}" />
        <META name="description" content="{%trans "Yoya.es - The best images from the Internet"%}" />
        <META itemprop="name" content="Yoya.es" />
        <META itemprop="description" content="{%trans "The best images from the Internet"%}" />
        {%block extra_meta%}{%endblock%}
        <LINK rel="shortcut icon" href="{{STATIC_URL}}media/favicon.ico"/>
        <TITLE>Yoya.es | {%block page_title%}{%trans "The best images from the Internet"%}{%endblock%}</TITLE>
        <LINK rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/default.css" media="screen" />
        <LINK rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.jgrowl.css" media="screen" />
        <LINK rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jqueryui/custom.css" media="screen" />
        {%block extra_css%}{%endblock%}
        <SCRIPT type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></SCRIPT>
        <SCRIPT type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom.min.js"></SCRIPT>
        <SCRIPT type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></SCRIPT>
        <SCRIPT type="text/javascript" src="{{ STATIC_URL }}js/jquery.jgrowl.min.js"></SCRIPT>
        <SCRIPT type="text/javascript" src="{{ STATIC_URL }}js/yoya.js"></SCRIPT>
        <SCRIPT type="text/javascript" src="http://widgets.tuenti.com/widgets.js"></SCRIPT>
        <SCRIPT src="http://platform.twitter.com/widgets.js" type="text/javascript"></SCRIPT>
        {%block extra_js_scripts%}{%endblock%}
        <SCRIPT type="text/javascript">
        {%if not request.user.get_profile.is_moderator%}
            // GoogleAnalytics
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'YOUR_GOOGLE_ANALYTICS_ID']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        {%endif%}
        {%if total_index_yoyas%}
        var twit = 15;
        function renderTwitter(){
            if($('.jGrowl-message .fb-like span iframe').length || !twit)
                $.getScript("http://platform.twitter.com/widgets.js");
            else
                setTimeout('renderTwitter()', 1000);
            --twit;
            try{FB.XFBML.parse();}catch(e){};
        };
        {%endif%}
        var send_friend = false;
        var send_friend_confirmed = false;
        {%block extra_js_functions%}{%endblock%}
            $(document).ready(function() {
                {%if total_index_yoyas%}
                if($.cookie){
                    var params = { path: '/', expires: 365 };
                    var growl_params = { life: 60000, open: function(){
                        renderTwitter();
                    } };
                    var index = {{total_index_yoyas}};
                    var last_index = $.cookie('total_index_yoyas') || 0; 
                    var msg = "<BR/>{%trans "Do you like YoYa?"%}<BR/><BR/>{%trans "Tell your friends about it! Share something on Facebook, Tuenti or Twitter."%}<BR/><BR/><DIV class=\"fb-like\" data-href=\"http://www.facebook.com/yoyapuntoes\" data-send=\"false\" data-layout=\"box_count\" data-width=\"100\" data-show-faces=\"true\" data-font=\"verdana\"></DIV><DIV style=\"margin:-20px 0 -20px 90px;\"><A href=\"https://twitter.com/yoya_es\" class=\"twitter-follow-button\" data-show-count=\"true\" data-count=\"vertical\" data-lang=\"{{current_language}}\" data-show-screen-name=\"false\">{%trans "Follow"%} @yoya_es</A></DIV><BR/>";
                    if(!last_index){
                        $.jGrowl("<SPAN class=\"marked\">{%trans "Hi! Nice that you dropped in here."%}</SPAN><BR/>{%trans "So far our community have published"%} "+ (index+wait) +" yoyas:<BR/><A href=\"{%url waiting_room%}\">{%trans "...in the Waiting section"%}: " + wait + "</A><BR/><A href=\"{%url index%}\">{%trans "...on the Main Page"%}: " + index + "</A><BR/>" + msg, growl_params);
                    }
                    else{
                        var i = index-last_index;
                        if(i > 0){
                            $('.side-advert-right').fadeOut().remove();
                            $.jGrowl("<A href=\"{%url index%}\"><span style=\"font-size: 1.5em\">" + i + "</span> {%trans "new yoyas added"%}!</A><BR/>" + msg, growl_params);
                        }
                    }
                    $.cookie('total_index_yoyas', index, params);
                }
                {%endif%}
                $('#invite_friend').click(function(e){
                    e.preventDefault();
                    if (!send_friend)
                    $.ajax({url: '{%url invite_friend%}',
                        data: {path: '{{request.get_full_path}}'},
                        success: function(data) {
                            $.jGrowl(data, {
                                close: function(e,m,o) { send_friend = false;}, 
                                sticky: true,
                                open: function(e,m,o){
                                    $(e).width(300);
                                    $("#tellFormSubmit").button().die().live('click', function(){
                                        if(!send_friend_confirmed){
                                            send_friend_confirmed = true;
                                            $.post('{%url invite_friend%}',$('#tellForm').serializeArray(), function(data) {
                                                $('.jGrowl-message').empty().html(data);
                                                send_friend_confirmed = false;
                                            });
                                        }
                                    });
                                }});
                        },
                        error: function(){ send_friend = false; }
                    });
                    send_friend = true;
                });
                $('.close-ad').click(function(e){
                    e.preventDefault();
                    $(this).parent().fadeOut();
                }).hover(function() {
                        $(this).css('opacity',0.7);
                    },
                    function() { 
                        $(this).css('opacity',0.1);
                });
                $("img.rollover").hover(function() {
                        if (!$(this).hasClass('is_off'))
                            this.src = this.src.replace("_off", "_on");
                    },
                    function() {
                        if (!$(this).hasClass('is_on'))
                            this.src = this.src.replace("_on", "_off");
                });
                $('.button').button();
                {%if show_paginator%}
                $('.paginator li').click(function(){
                    redirect($(this).children('a').attr('href'));
                });
                {%endif%}
                {%block extra_js_ready%}{%endblock%}
            });
        </SCRIPT>
    </HEAD>
    <BODY>
        <DIV id="fb-root"></DIV>
        <SCRIPT>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '{{ fb_key }}',
              channelUrl : '//www.yoya.es{%url fb_channel%}', // Channel File
              status     : true,
              cookie     : true,
              xfbml      : true
            });
          };
          (function(d){
             var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/{{ fb_language }}/all.js";
             d.getElementsByTagName('head')[0].appendChild(js);
           }(document));
        </SCRIPT>
        <DIV class="visible-content">
            <DIV class="header section">
                <DIV id="logo">
                    <A href="http://{{site}}/"><IMG src="{{ STATIC_URL }}media/logo_off.png" class="rollover"/></A>
                </DIV>
                <DIV id="slogan">
                    <A href="http://{{site}}/"><IMG src="{{ STATIC_URL }}media/{{current_language}}_logo_slogan{%if random3 == 1%}1{%else%}2{%endif%}.png"/></A>
                </DIV>
                <DIV class="languages label">
                    {%for lang in all_languages%}<A href="{%url change_language lang.0 %}?next={{request.get_full_path}}" title="{{lang.1}}"><IMG class="rollover" alt="{{lang.1}}" src="{{ STATIC_URL }}media/flag_{{lang.0}}_off.png"/></A>{%endfor%}
                </DIV>
                <DIV class="register label">
                {%if request.user.is_authenticated%}
                    <A href="{%url profile_edit%}" class="username">{{request.user.username}}</A><A href="{%url logout%}?next={{request.get_full_path}}"><SPAN class="highlight"><IMG src="{{ STATIC_URL }}media/logout.png">{%trans "Logout"%}</SPAN></A>
                {%else%}
                    <A href="{%url login%}?next={{request.get_full_path}}"><SPAN class="highlight"><IMG src="{{ STATIC_URL }}media/login.png">{%trans "Login"%}</SPAN></A>
                    <A href="{%url registration_register%}"><SPAN class="highlight"><IMG src="{{ STATIC_URL }}media/register.png">{%trans "Register"%}</SPAN></A>
                {%endif%}
                </DIV>
                <BR/><BR/><BR/>
                <DIV class="tell_friend label">
                    <A href="#" id="invite_friend" title="{%trans "Tell your friend"%}"><SPAN class="highlight"><IMG src="{{ STATIC_URL }}media/tell.png" alt="{%trans "Tell your friend"%}">{%trans "Hey"%}!</SPAN></A>
                </DIV>
            </DIV>
            <DIV class="main-menu">
                <DIV class="navigation section">
                    <DIV class="top-menu">
                        <UL class="menu">
                            <LI{%if active == "index"%} class="selected"{%endif%}><A href="{%url index%}">{%trans "Main"%}</A></LI>
                            {# <LI{%if active == "waiting_room"%} class="selected"{%endif%}><A href="{%url waiting_room%}">{%trans "Waiting"%}</A></LI> #}
                            <LI{%if active == "random"%} class="selected"{%endif%}><A href="{%url publication_random%}">{%trans "Random"%}</A></LI>
                            <LI{%if active == "top"%} class="selected"{%endif%}><A href="{%url top%}">{%trans "Top"%}</A></LI>
                            <LI{%if active == "add"%} class="selected"{%endif%}><A href="{%url publication_new%}">{%trans "Upload"%} <SPAN class="marked">{%trans "new"%}</SPAN>!</A></LI>
                            {%if request.user.get_profile.is_moderator%}
                                <LI{%if active == "moderate"%} class="selected"{%endif%}><A href="{%url moderate%}">{%trans "Moderate"%}</A></LI>
                                <LI{%if active == "spider"%} class="selected"{%endif%}><A href="{%url spider%}">{%trans "Spider"%}</A></LI>
                            {%endif%}
                        </UL>
                    </DIV>
                </DIV>
            </DIV>
            <DIV class="horizontal-bar"></DIV>
            <DIV class="side-advert side-advert-left">{%block side_advert_left%}{%endblock%}</DIV>
            <DIV class="side-advert side-advert-right">{%block side_advert_right%}{%endblock%}</DIV>
            <DIV class="content section">
                <DIV class="spacer"></DIV>
                {%block content%}{%endblock%}
                {%if last_page%}
                <DIV class="centered-info">
                    <P class="titlelike">{%trans "Woaah! it looks like you have seen all the yoyas that we have published in this seciton so far. Just click below - there are still many yoyas that you haven't seen yet:"%}</P>
                    <DIV>
                        <UL class="menu">
                            {%if active != "index"%}<LI><A href="{%url index%}">{%trans "Main"%}</A></LI>{%endif%}
                            {# {%if active != "waiting_room"%}<LI><A href="{%url waiting_room%}">{%trans "Waiting"%}</A></LI>{%endif%} #}
                            {%if active != "top"%}<LI><A href="{%url top%}">{%trans "Top"%}</A></LI>{%endif%}
                        </UL>
                    </DIV>
                </DIV>
                {%endif%}
                <DIV class="spacer"></DIV>
                <DIV class="paginator">
                {%if not request.user.get_profile.without_adverts%}
                <DIV class="advert">
<script type="text/javascript"><!--
google_ad_client = "YOUR_GOOGLE_AD_CLIENT_ID";
/* links_content */
google_ad_slot = "YOUR_GOOGLE_AD_SLOT_ID";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
                    </DIV>
                    {%endif%}
                    <DIV>
                        {%block paginator%}
                        {%if show_paginator%}
                        {%if active == "index" or single_pub%}{%url index as paginator_url%}{%endif%}
                        {%if active == "waiting_room"%}{%url waiting_room as paginator_url%}{%endif%}
                        {%if active == "top"%}{%url top as paginator_url%}{%endif%}
                        {%if active == "moderate"%}{%url moderate as paginator_url%}{%endif%}
                        <UL>
                            {%if first%}<LI><A href="{{paginator_url}}{{first}}/">{{first}}</A></LI>{%endif%}
                            {%if prevs_dots%}<LI><A href="#">&hellip;</A></LI>{%endif%}
                            {%for pg in prevs%}<LI><A href="{{paginator_url}}{{pg}}/">{{pg}}</A></LI>{%endfor%}
                            {%if current%}<LI class="active"><A href="{{paginator_url}}{{current}}/">{{current}}</A></LI>{%endif%}
                            {%for pg in nexts%}<LI><A href="{{paginator_url}}{{pg}}/">{{pg}}</A></LI>{%endfor%}
                            {%if nexts_dots%}<LI><A href="#">&hellip;</A></LI>{%endif%}
                            {%if total%}<LI><A href="{{paginator_url}}{{total}}/">{{total}}</A></LI>{%endif%}
                        </UL>
                        {%endif%}
                        {%endblock%}
                    </DIV>
                </DIV>
                {%if active != "moderate" and active != "spider"%}
                <DIV class="fb_label highlight">{%blocktrans%}If you want to be up-to-date with the latest yoyas, just click the "Like" button on our FB page:{%endblocktrans%}</DIV>
                <DIV class="fb_panel">
                    <DIV class="fb_wrapper">
                        <DIV class="fb-like-box" data-href="https://www.facebook.com/yoyapuntoes" data-width="600" data-height="200" data-show-faces="true" data-border-color="000000" data-stream="false" data-header="false"></DIV>
                    </DIV>
                </DIV>
                {%endif%}
            </DIV>
            <DIV class="footer">
                <DIV class="footer-wrapper">
                    <DIV class="footer-content">
                        <P>
                            <UL>
                                <LI><A href="{%url contact%}">{%trans "Contact"%}</A></LI>
                                <LI><A href="{%url advertisement%}">{%trans "Advertise here"%}</A></LI>
                                <LI><A href="{%url faq%}">{%trans "FAQ"%}</A></LI>
                                <LI><A href="{%url disclaimer%}">{%trans "Disclaimer"%}</A></LI>
                                <LI><A href="{%url regulations%}">{%trans "Regulations"%}</A></LI>
                            </UL><BR/>
                        </P>
                        <P>Copyright &copy; 2012 Yoya Team.</P>
                        <P>{%trans "All content is user-generated. It is the sole responsibility of the publications' authors - the site owner do not take any responsibility for the published content."%}</P>
                        <DIV class="rss"><A href="{%url rss_feed%}"><IMG src="{{ STATIC_URL }}media/rss.png"/>{%trans "RSS Feed"%}</A></DIV>        
                    </DIV>
                </DIV>
            </DIV>
            {%if current and current == 1%}
            <DIV class="textcontent">
                {%trans "yoya.es - key words that describe the site content. For us entertainment are emoticons, emotions, games, films, movies, images, pictures, free movies, web pictures, funy movies, cats, online games, jokes, stories, domotivators, fotos, fotos and pictures, funny photos, funny, hilarious, entertaining."%}                
            </DIV>
            {%endif%}
        </DIV>
    </BODY>
</HTML>
