{% extends "registration/base.html" %}
{%load i18n%}
{% block page_title %}{%trans "FAQ"%}{% endblock %}
{%block form_title%}{%trans "Frequently Asked Questions"%}{%endblock%}
{%block form_details%}
<OL>
    <LI>
        <P class="highlight">{%trans "What is YoYa? What is the idea of this page?"%}</P>
        <P>{%trans "Are you bored at the school / university / at work? Do you want to entertain yourself? Did you take a funny photo or create an increadibely funny image that you want to share with the world? This is the place for you! Every day we select and publish new images submited by the people - you cannot miss them!"%}</P>
    </LI>
</OL>
{%endblock%}